{% extends 'base.html' %}

{% block body-content %}
{% load static %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Prahlad Shah Teli</span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2"
                src="{% static 'assets/img/Prahlad.jpg' %}" alt="..." /></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Projects</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li>
        </ul>
    </div>
</nav>
<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Prahlad
                <span class="text-primary">Shah Teli</span>
            </h1>
            <div class="subheading mb-5">
                Kalanki Kathmandu · Nepal, PO Box 44600 · +9779814294767 ·
                <a href="mailto:name@email.com">prahladshah786@gmail.com</a>
            </div>
            <p class="lead mb-5 text-justify"> I am passionate student eager to learn and gain experience regarding emerging
                technologies
                and techniques that are being used in an organization.
                I have completed my graduation in 2023 from National College (NIST) for the program BCA (Bachelor in
                Computer Application) which is affiliated from Tribhuwan University, Nepal.
                The major coursework were Machine Learning Development Techniques, Front-end and Back-end development,
                Network Administration and Database Administration.
                Looking forward to utilizing my programming skills in Python, Java, Php
                and JavaScript to contribute to software development projects.
            </p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/prahlad-shah-68ba07248/"><i
                        class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/Prahlad-shah"><i class="fab fa-github"></i></a>
                <!-- <a class="social-icon" href="mailto:prahladshah786@gmail.com"><i class="fab fa-twitter"></i></a> -->
                <a class="social-icon" href="https://www.facebook.com/prahlad.shah.3"><i
                        class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-4">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Web Developer Intern</h3>
                    <div class="subheading mb-3">Pioneer Softech Pvt Ltd - Kathmandu, Nepal</div>
                    <p>I have completed an intership in Full stack Web Developer starting from 10/2022 to 12/2022.
                        At the internship period i were assigned several works to take care of such as :
                    <ul type="bullet">
                        <li>Maintained and improved existing websites and applications, enhancing user experience and
                            functionality.</li>
                        <li>Assisted project managers in understanding client requirements
                            and planning technical solutions.</li>
                        <li>Helped coordinate and lead weekly development meetings and
                            knowledge-sharing sessions to promote progress.</li>
                    </ul>
                    </p>
                    <a href="{% static 'ExperienceDocs/intership.jpeg' %}" class="mx-4">
                        <img src="{% static 'ExperienceDocs/intership.jpeg' %}" class="img-fluid img-thumbnail"
                            alt="Photo-link" width="100px"">
                    </a>
                </div>
                <div class=" flex-shrink-0 mt-5"><span class="text-primary">October 2022 - December 2022</span>
                </div>

            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Projects -->
    <section class="resume-section" id="projects">
        <div class="resume-section-content">
            <h2 class="mb-4">Projects</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Academic Projects</h3>
                    <div class="subheading mb-3">National College(NIST) - Kathmandu, Nepal</div>
                    <p class="text-justify">
                        My academic journey has been marked by a rigorous curriculum. According to the course structure of my program BCA that includes several major subjects and projects which were equally important to pass the semester’s exam. 
                        There were total three projects to be carried out by us in the semesters such as 4th, 6th and 8th semesters respectively. The projects were developed in group of two people for 4th semester and 6th semester because the projects were intermediate level projects which includes for the development and documentation of the system on the basis of research papers and references. 
                        In 4th semester’s project we were decided to develop the Human Resource Management System using the technologies such as html, css, javascript and php. I helped my friend in programming and documentation part. In 6th semester’s project we were decided to develop simple File Management System for desktop using Java and JavaFx, where I was in designing and documenting the system.
                        However, in 8th semester the project was major and final, the project’s instructor assigned it as on individual basis. 
                        The 8th semester’s project was individual basis project and i proposed a system on image recognition and Recommendation System for Brand Logo Recognition using python, GoogleColab, sqlite and other libraries such as scikit-learn, numpy, pandas and keras with the help of django framework. where I code and documented the system properly.
                    </p>
                </div>
                <div class=" flex-shrink-0 mt-0"><span class="text-primary">October 2018 - December 2023</span>
                </div>
            </div>

            <div>
                <a href="https://github.com/Prahlad-shah" class="mx-4">
                    <img src="{% static 'ExtraDocs/github-preview.png' %}" class="img-fluid img-thumbnail"
                        alt="Photo-link" width="100px"">
                </a>
            </div>
        </div>
    </section>
    <!-- End Projects -->
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-4">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Tribhuwan University</h3>
                    <div class="subheading mb-3">Bachelor in Computer Applications</div>
                    <div>Major Courses</div>
                    <div>Computer Science - Web Development Track</div>
                    <div>Coursework in Programming Languages</div>
                    <div>Coursework in Mathematics</div>
                    <div>Coursework in Network Administration</div>
                    <div>Coursework in Database Administration</div>
                    <p>GPA: 3.27</p>
                    <p class="text-justify">
                        National College NIST, affiliated with Tribhuvan University which is located in Kathmandu, Nepal, played a pivotal role in my academic and professional development. I was enrolled in 2018, embarking on a journey that would span five transformative years, culminating in my graduation in 2023. 
                        My bad, unfortunately, four years course became five years because of Covid-19 pandemic and i had to stick on one year additional study. The college, renowned for its excellent academic standards and diverse programs, offered me a platform to delve deeply into my chosen field of study known as Bachelor for Computer Applications (BCA).
                        During my time at National College NIST, i was immersed in an environment that encouraged critical thinking, research, and the practical application of knowledge. The curriculum was designed to challenge me intellectually while providing the flexibility to explore my interests and develop specialized skills. 
                        The faculty, comprised of experienced educators and industry professionals, provided me with mentorship and guidance that were instrumental in my academic journey.
                        In addition to the academic rigor, the college offered a vibrant campus life with numerous opportunities for extracurricular engagement. Whether it was participating in seminars, workshops, or student clubs, these experiences enriched my college life and helped me build a well-rounded skill set.
                        The journey wasn’t just about academic achievements; it was also about personal growth. I developed a strong sense of responsibility, independence, and adaptability, all of which will serve me well in my future endeavors. 
                        Completing my graduation certificate in 2023 marked a significant milestone, symbolizing the culmination of years of hard work, dedication, and perseverance. my time at National College NIST is a chapter filled with memories, learning, and preparation for the challenges and opportunities that lie ahead.
                    </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">August 2018 - May 2023</span></div>
            </div>
            <div>
                <a href="{% static 'BachelorsDocs/bca_transcript.pdf' %}" class="mx-4">
                    <img src="{% static 'BachelorsDocs/trancript-preview.png' %}" class="img-fluid img-thumbnail"
                        alt="Photo-link" width="100px"">
                </a>
                <a href=" {% static 'BachelorsDocs/bca_marksheet_all.pdf' %}" class="mx-4">
                    <img src="{% static 'BachelorsDocs/marksheet-preview.png' %}" class="img-fluid img-thumbnail"
                        alt="Photo-link" width="100px"">
                </a>
                <a href=" {% static 'BachelorsDocs/bca_final_project_report.pdf' %}" class="mx-4">
                    <img src="{% static 'BachelorsDocs/report-preview.png' %}" class="img-fluid img-thumbnail"
                        alt="Photo-link" width="100px"">
                </a>
                <a href=" {% static 'BachelorsDocs/bca_admit_cards.pdf' %}" class="mx-4">
                    <img src="{% static 'BachelorsDocs/admit-preview.png' %}" class="img-fluid img-thumbnail"
                        alt="Photo-link" width="100px"">
                </a>
                <a href=" {% static 'BachelorsDocs/character-nist.jpg' %}" class="mx-4">
                    <img src="{% static 'BachelorsDocs/character-nist.jpg' %}" class="img-fluid img-thumbnail"
                        alt="Photo-link" width="100px"">
                </a>
                <a href=" {% static 'BachelorsDocs/Provisional-certificate.jpg' %}" class="mx-4">
                    <img src="{% static 'BachelorsDocs/Provisional-certificate.jpg' %}" class="img-fluid img-thumbnail"
                        alt="Photo-link" width="100px"">
                </a>
                <a href=" {% static 'BachelorsDocs/MOI.jpg' %}" class="mx-4">
                    <img src="{% static 'BachelorsDocs/MOI.jpg' %}" class="img-fluid img-thumbnail" alt="Photo-link"
                        width="100px"">
                </a>
                <a href=" {% static 'BachelorsDocs/tu-registration-card.jpg' %}" class="mx-4">
                    <img src="{% static 'BachelorsDocs/tu-registration-card.jpg' %}" class="img-fluid img-thumbnail"
                        alt="Photo-link" width="100px"">
                </a>
            </div>
            <div class=" d-flex flex-column flex-md-row justify-content-between mt-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Whitefield International College</h3>
                    <div class="subheading mb-3">Management for Business Studies</div>
                    <p>GPA: 2.94</p>
                    <p class="text-justify">Whitefield International College in Kathmandu, Nepal, marked a significant chapter in my academic journey. Enrolling in 2014, i embarked on a two-year program that would shape my intellectual and personal development. 
                        The college, known for its commitment to academic excellence and holistic education, provided a dynamic environment where i could explore my interests and refine my skills.
                        At Whitefield International College, i was experienced a balanced curriculum that combined theoretical knowledge with practical applications, preparing me for the challenges of higher education and beyond. The faculty, with their diverse expertise and supportive approach, played a crucial role in guiding me through this transformative period.
                        Beyond academics, the college offered numerous opportunities for extracurricular involvement, allowing me to engage in activities that complemented my studies and broadened my horizons. These experiences not only enriched my academic life but also helped me develop important life skills such as leadership, teamwork, and critical thinking.
                        In 2016, i successfully completed my Intermediate Certificate, a milestone that marked my readiness to pursue further studies and embark on new challenges. 
                        At Whitefield International College remains a formative period, laying the groundwork for my future endeavours and achievements.
                    </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">August 2014 - May 2016</span></div>
        </div>
        <a href="{% static 'TwelvethDocs/+2 Transcript.jpg' %}" class="mx-4">
            <img src="{% static 'TwelvethDocs/+2 Transcript.jpg' %}" class="img-fluid img-thumbnail" alt="Photo-link"
                width="100px"">
            </a>
            <a href=" {% static 'TwelvethDocs/+2 provisional.jpg' %}" class="mx-4">
            <img src="{% static 'TwelvethDocs/+2 provisional.jpg' %}" class="img-fluid img-thumbnail" alt="Photo-link"
                width="100px"">
            </a>
            <a href=" {% static 'TwelvethDocs/+2 marksheet.jpg' %}" class="mx-4">
            <img src="{% static 'TwelvethDocs/+2 marksheet.jpg' %}" class="img-fluid img-thumbnail" alt="Photo-link"
                width="100px"">
            </a>
            <a href=" {% static 'TwelvethDocs/+2 character.jpg' %}" class="mx-4">
            <img src="{% static 'TwelvethDocs/+2 character.jpg' %}" class="img-fluid img-thumbnail" alt="Photo-link"
                width="100px"">
            </a>
            <div class=" d-flex flex-column flex-md-row justify-content-between mt-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Bright Heaven Boarding High School</h3>
                    <div class="subheading mb-3">School Leaving Certificate</div>
                    <p>GPA: 3.20</p>
                    <p class="text-justify">
                        Bright Heaven Boarding High School in Kathmandu, Nepal, holds a special place in my academic journey. I was enrolled there in 2006, embarking on a crucial phase of my education. 
                        Situated in the vibrant and culturally rich city of Kathmandu, the school provided me with a supportive and structured environment that was essential for my academic growth.
                        During my time at Bright Heaven, i experienced an academic curriculum and extracurricular activities designed to foster holistic development. 
                        The school's focus on discipline, combined with the nurturing guidance of dedicated teachers, played a pivotal role in shaping my educational foundation.
                        As i was progressed through the grades, i built long lasting friendships and participated in various school events that contributed to my personal growth. The culmination of my efforts came when i successfully completed my School Leaving Certificate (SLC), a significant milestone in Nepal's education system. 
                        The memories of my time at Bright Heaven Boarding High School remain a cherished chapter in my life, marking the beginning of my academic and personal achievements.

                    </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">August 2003 - May 2013</span></div>
            </div>
            <div>
                <a href=" {% static 'TenthDocs/slc certificate.jpg' %}" class="mx-4">
                    <img src="{% static 'TenthDocs/slc certificate.jpg' %}" class="img-fluid img-thumbnail" alt="Photo-link"
                        width="100px"">
                </a>
                <a href=" {% static 'TenthDocs/slc marksheet.jpg' %}" class="mx-4">
                    <img src="{% static 'TenthDocs/slc marksheet.jpg' %}" class="img-fluid img-thumbnail" alt="Photo-link"
                        width="100px"">
                    </a>
                    <a href=" {% static 'TenthDocs/slc character.jpg' %}" class="mx-4">
                        <img src="{% static 'TenthDocs/slc character.jpg' %}" class="img-fluid img-thumbnail" alt="Photo-link"
                            width="100px"">
                        </a>
            </div>
    </div>
</section>
<hr class="m-0" />
<!-- Skills-->
<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fab fa-html5"></i></li>
            <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
            <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
            <li class="list-inline-item"><i class="fab fa-angular"></i></li>
            <li class="list-inline-item"><i class="fab fa-react"></i></li>
            <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
            <!-- <li class="list-inline-item"><i class="fab fa-sass"></i></li> -->
            <!-- <li class="list-inline-item"><i class="fab fa-less"></i></li> -->
            <!-- <li class="list-inline-item"><i class="fab fa-wordpress"></i></li> -->
            <!-- <li class="list-inline-item"><i class="fab fa-gulp"></i></li> -->
            <!-- <li class="list-inline-item"><i class="fab fa-grunt"></i></li> -->
            <li class="list-inline-item"><i class="fab fa-npm"></i></li>
        </ul>
        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Mobile-First, Responsive Design
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Cross Browser Testing & Debugging
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Cross Functional Teams
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Agile Development & Scrum
            </li>
        </ul>
    </div>
</section>
<hr class="m-0" />
<!-- Interests-->
<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p class="text-justify">Apart from being a web developer, I enjoy most of my time to play games and watching foreign language movies.
            I love travelling and exploring new things.
        </p>
        <p class="mb-0 text-justify">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television
            shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology
            advancements in the front-end and back-end web development world.</p>
    </div>
</section>
<hr class="m-0" />
<!-- Awards-->
<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Awards & Certifications</h2>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>

            </li>

        </ul>
    </div>
</section>
</div>

{% endblock body-content %}